<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">

{% block movies %}
  <h4 id="original"> Original query: </h4>
  <h5> &nbsp &nbsp &nbsp &nbsp"{{queryName}}" </h5>
  </br>

  <div class="form-inline">
    <h4 id="yours"> Your queries: &nbsp </h4>
    <button id="help-btn2" title="Help">?</button>
    <p id="help2"><font size="3" color="#008000">  &nbsp(Think of 3 other ways to express the meaning of original query.) </font></p>
  </div>



  <!-- <div class="row">
    <div class="col-12">
      <h4> Your queries: </h5>(Think of 3 other ways to express this meaning.)
    </div>
    <div class="col-9">
      <p id="instru1"> (Think of 3 other ways to express this meaning.) </p>
    </div>
  </div> -->
  <div class="row" id="row1">
      <!-- <div class="col-2">
        <h5 id="answer1" class="text-right"> 1. <U>&nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp</U></h5>
      </div>
      <div class="col">
        <img id="check1" height="25" width="25" src="/static/images/wish-list-icon3.png" />
      </div> -->
      <div class="col-3">
        <div class="form-inline">
          <h5 id="answer1" class="text-right"> &nbsp &nbsp &nbsp  &nbsp  1. <U>&nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp</U></h5>
          <img id="check1" height="25" width="25" src="/static/images/wish-list-icon3.png" />
        </div>
      </div>
  </div>
  <div class="row" id="row1">
      <!-- <div class="col-2">
        <h5 id="answer1" class="text-right"> 1. <U>&nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp</U></h5>
      </div>
      <div class="col">
        <img id="check1" height="25" width="25" src="/static/images/wish-list-icon3.png" />
      </div> -->
      <div class="col-3">
        <div class="form-inline">
          <h5 id="answer2" class="text-right"> &nbsp &nbsp &nbsp  &nbsp  2. <U>&nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp</U></h5>
          <img id="check2" height="25" width="25" src="/static/images/wish-list-icon3.png" />
        </div>
      </div>
  </div>

  <div class="row" id="row1">
      <!-- <div class="col-2">
        <h5 id="answer1" class="text-right"> 1. <U>&nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp</U></h5>
      </div>
      <div class="col">
        <img id="check1" height="25" width="25" src="/static/images/wish-list-icon3.png" />
      </div> -->
      <div class="col-3">
        <div class="form-inline">
          <h5 id="answer3" class="text-right"> &nbsp &nbsp &nbsp  &nbsp  3. <U>&nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp</U></h5>
          <img id="check3" height="25" width="25" src="/static/images/wish-list-icon3.png" />
        </div>
      </div>
  </div>


{% endblock %}

{% block help %}
        <div class="help1" id="help1">
            <p>Instructions:</p>
            <p>We have provided you with the original query.
              You should think of three other ways to express the same meaning.</p>
            <p>Click "Speak" button to record your answers.
              One answer at a time. You have to record for 3 times in order to go next.
            <p>It is good to imagine you are talking to an intelligent assistant and speak naturally.</p>
            <!-- <p>If your answers are too similar, you may not be able to get your payment.</p> -->
            <p></p>
        </div>
{% endblock %}


{% block myJS %}
<script src="{{url_for('static',filename='js/GameVersionjs/script_v2.js')}}"></script>
<script type="text/javascript">
$(function(){
  if ({{htmlint}} >= 3){
    $('#help2').text("Think of other words to replace it.");
  }
  $('#help2').hide();

  $('#help-btn2').mouseover(function(){
                           $('#help2').show();
                           });
  $('#help-btn2').mouseout(function(){
                          $('#help2').hide();
                          });
  var introguide = introJs();

    introguide.setOptions({
                             steps: [
                               {
                                     element: '#original',
                                     intro: 'We have provided you with the a query that asks for movie recommendations.',
                                     position: 'bottom'
                               },
                               {
                                     element: '#yours',
                                     intro: 'You should think of three other ways to express the same meaning.',
                                     position: 'bottom'
                               },
                               {
                                     element: '#yours',
                                     intro: 'It is good to imagine you are talking to an intelligent assistant and speak naturally.',
                                     position: 'bottom'
                               },
                               // {
                               //       element: '#yours',
                               //       intro: 'Note that if your answers are too similar, you may not be able to get your payment.',
                               //       position: 'bottom'
                               // },
                               {
                                     element: '#speak',
                                     intro: 'Click this button to record your answers. One answer at a time. You have to record for 3 times in order to go next. Click "Done" to close this box.',
                                     position: 'left'
                               },
                               ]
    });
    if ({{htmlint}}==0) introguide.start();

  });

</script>

<style type="text/css">
.help1 {
    position: relative;
    bottom: 400px;
    left: 640px;
    width: 45%;
    height: 100%;
    z-index:1;
    background-color: #000000;
    opacity: 0.85;
    color: white;
    border-radius:25px;
    padding: 5px 5px;
}
</style>
{% endblock %}

</html>
