<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Voice Searches</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}">
        <!--        Bootstrap-->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--            intro.js-->
                <link rel="stylesheet" href="/static/intro_js/node_modules/intro.js/introjs.css"/>
    </head>
    <body>
      <div class="container">
        <p></p>
        <div class="row">
          <div class="col-6">
          <h1>Voice Search Survey</h1>
          </div>
          <div class="col-6" align="right">
            <div class="logol">
              <img id="LabLogol" src="/static/images/GroupLens_Logo-125.png" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p>
              Thanks for your participation!
            </p>
            <div class="row">
              <div class="col-12">
                <p>
                  MovieLens is a movie recommendation website, to which we will put into use our new technologies in the near future.
                </p>
              </div>
            </div>
          <div class="row">
              <div class="col-12">
              <p>
                We look forward to seeing you on MovieLens!
              </p>
            </div>
          </div>
        </div>
      </div>

      <form method="POST">
        <div class="form-group">
          <h5> We would love to hear feedback from you: </h5>
            <textarea id="feedback" type="text" class="form-control"
            placeholder="" rows="5"
            name="name" required>
        </div>
        <button id="saveFeedback" type="submit"> Submit to get payment </button>
      </form>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="{{url_for('static',filename='js/script_v2.js')}}"></script>
      
    </body>
</html>
