<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Voice Searches</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}">
        <!--        Bootstrap-->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--            intro.js-->
                <link rel="stylesheet" href="/static/intro_js/node_modules/intro.js/introjs.css"/>
    </head>
    <body>
      <div class="container">
        <p></p>
      <div class="row">
        <div class="col-6">
          <h1>Voice Search Survey</h1>
        </div>
        <div class="col-6" align="right">
          <div class="logol">
            <img id="LabLogol" src="/static/images/GroupLens_Logo-125.png" />
          </div>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12">
        <p>
          We are conducting research on how people might ask computers for information using speech recognition.<br/>
          In this survey, we will show you a number of scenarios that will ask you to use your microphone to ask for something described on the screen.
          We will not tell you what to say, but we would like you to express what you want in your own words.
        </p>
        </div>
      </div>

      <br/>
        <div class="row">
          <div class="col-12">
        <p>
            This survey has three parts. Each part contains a tutorial to help you learn the interface.
            Then, we will ask you to submit several responses using your microphone.
            <!-- First, there is a tutorial to help you learn the interface.
            Then, we will ask you to submit ten responses using your microphone. -->
        </p>
      </div>
      </div>

      <div class="row">
        <div class="col-12">
        <p> <a href="/tutorial/0/0">next</a></p>
        </div>
      </div>


    </div>

    </body>
</html>
