<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">

{% block movies %}
  </br>
  <div class="form-inline">
  <h4 id="keyword"> Film keyword: </h4>
  <button id="help-btn3" title="Help">?</button>
  <p id="help3"><font size="3" color="#008000">  &nbsp({{queryName[0]}} is a famous director. ) </font></p>

  </div>
  <div class="form-inline">
    <ul id="keywordTable">
      {% for query in queryName %}
      <li>{{query}}&nbsp&nbsp </li>
      {% endfor %}
    </ul>
    <!-- <button id="help-btn2" title="Help">?</button>
    <p id="help2"><font size="3" color="#008000">  &nbsp Imagine you are searching for this kind of movie. </font></p> -->
  </div>




{% endblock %}

{% block help %}
        <div class="help1" id="help1">
            <p>Instructions:</p>
            <p> Imagine you are asking a friend for movie recommendations. </p>
            <p> We have provided you with the film keywords
              and your quries should contain this information.
              It's okay if your answers do not include the exact words shown on the screen
              because speaking naturally is the most important thing.</p>
            <p>Click "Speak" button to record your answers. It is good to imagine you are talking to a friend and speak naturally.</p>
            <!-- <p>If your answers are too similar, you may not be able to get your payment.</p> -->
            <p></p>
        </div>
{% endblock %}



{% block myJS %}

<script src="{{url_for('static',filename='js/EasyVersionjs/script_v2.js')}}"></script>

<script type="text/javascript">
$(function(){

  $('#help3').hide();
  $('#help-btn3').hide();
  if ({{htmlint+SkipTime}}==5){
    $('#help3').show();
  }

  // if ({{htmlint+SkipTime}}==11){
  //   $('#help-btn3').show();
  //   $('#help3').text("\">\" is the greater-than symbol, a mathematical symbol that denotes an inequality between two values.")
  // }
  //
  // if ({{htmlint+SkipTime}}==3){
  //   if ("{{queryName[0][0]}}" === "&gt;"){
  //     $('#help3').text("\">\" is the greater-than symbol, a mathematical symbol that denotes an inequality between two values.")
  //     $('#help-btn3').show();
  //   }
  //   else if ("{{queryName[0][0]}}" === "&lt;"){
  //     $('#help3').text("\"<\" is the less-than symbol, a mathematical symbol that denotes an inequality between two values.")
  //     $('#help-btn3').show();
  //   }
  // }

  // $('#help-btn3').mouseover(function(){
  //                                       $('#help3').show();
  //                                                  });
  // $('#help-btn3').mouseout(function(){
  //                                       $('#help3').hide();
  //                                                 });
  var introguide = introJs();
  if ({{htmlint+SkipTime}}>=15)
  {
    $('#keyword').text("Your scenario:");
    introguide.setOptions({
                             steps: [
                               // {
                               //       element: '#recording-title',
                               //       intro: 'Imagine you are finding a particular kind of movies through an intelligent assistant, such as Siri or Amazon Echo.',
                               //       position: 'bottom'
                               // },
                               {
                                     element: '#keyword',
                                     intro: 'From now on, we will show you a scenario: a situation when or where you might want to watch a movie. Incorporate this scenario into your response. Click "done" to close this box. ',
                                     position: 'bottom'
                               },
                               ]
    });
    if ({{htmlint+SkipTime}}==15) introguide.start();
  }

    if ({{htmlint+SkipTime}}==0)
    {
      introguide.setOptions({
                               steps: [
                                 // {
                                 //       element: '#recording-title',
                                 //       intro: 'Imagine you are finding a particular kind of movies through an intelligent assistant, such as Siri or Amazon Echo.',
                                 //       position: 'bottom'
                                 // },
                                 {
                                       element: '#recording-title',
                                       intro: 'Imagine you are asking a friend for movie recommendations.',
                                       position: 'bottom'
                                 },
                                 {
                                       element: '#keyword',
                                       intro: 'We have provided you with the film keywords and your queries should contain this information.',
                                       position: 'bottom'
                                 },
                                 {
                                       element: '#keywordTable',
                                       intro: 'For example, you should ask for comedies in this scenario.',
                                       position: 'bottom'
                                 },
                                 {
                                       element: '#keywordTable',
                                       intro: 'It\'s okay if your answers do not include the exact word here because speaking naturally is the most important thing.',
                                       position: 'bottom'
                                 },
                                 {
                                       element: '#keywordTable',
                                       intro: 'For example, "comedy" can be replaced by "funny movie", as long as it is natural.',
                                       position: 'bottom'
                                 },
                                 // {
                                 //       element: '#yours',
                                 //       intro: 'Note that if your answers are too similar, you may not be able to get your payment.',
                                 //       position: 'bottom'
                                 // },
                                 {
                                       element: '#speak',
                                       intro: 'It is good to imagine you are talking to a friend. Speak naturally. Click "Done" to close this box.',
                                       position: 'left'
                                 },
                                 ]
      });
      introguide.start();
    }
    if ({{htmlint+SkipTime}} < 17) {
      if ({{htmlint+SkipTime}}%2 == 0) $('#go-next-btn').attr("href","/easy/{{htmlint+1}}/{{SkipTime}}");
      else $('#go-next-btn').attr("href","/easy/{{htmlint}}/{{SkipTime+1}}");
    }
    else $('#go-next-btn').attr("href","/OpenQuestions/0/1");
  });


</script>



<style type="text/css">
.help1 {
    position: relative;
    bottom: 310px;
    left: 420px;
    width: 75%;
    height: 100%;
    z-index:1;
    background-color: #000000;
    opacity: 0.85;
    color: white;
    border-radius:25px;
    padding: 5px 5px;
}

li {
  list-style-type:none;
  text-align:center;
  font-size:40px;
}

</style>
{% endblock %}

</html>
