<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">

{% block movies %}
  </br>

  <h4 id="keyWord"> Film keyword: </h4>
  <div class="form-inline">
    <ul id="keyWordTable">
      {% for query in queryName %}
      <li>{{query}}&nbsp&nbsp </li>
      {% endfor %}
    </ul>
    <!-- <button id="help-btn2" title="Help">?</button>
    <p id="help2"><font size="3" color="#008000">  &nbsp Imagine you are searching for this kind of movie. </font></p> -->
  </div>




{% endblock %}

{% block help %}
        <div class="help1" id="help1">
            <p>Instructions:</p>
            <p> Imagine you are finding movies through an intelligent assistant, such as Siri or Amazon Echo. </p>
            <p> We have provided you with the film keywords
              and your quries should contain this information.</p>
            <p> It's okay if your answers do not include the exact words shown on the screen
              because speaking naturally is the most important.</p>
            <p>Click "Speak" button to record your answers.
            <p>It is good to imagine you are talking to an intelligent assistant and speak naturally.</p>
            <!-- <p>If your answers are too similar, you may not be able to get your payment.</p> -->
            <p></p>
        </div>
{% endblock %}


{% block myJS %}

<script src="{{url_for('static',filename='js/EasyVersionjs/script_v2.js')}}"></script>

<script type="text/javascript">
$(function(){
  if ({{htmlint}} >= 3){
    $('#help2').text("Think of other words to replace it.");
  }
  $('#help2').hide();

  $('#help-btn2').mouseover(function(){
                           $('#help2').show();
                           });
  $('#help-btn2').mouseout(function(){
                          $('#help2').hide();
                          });
  var introguide = introJs();

    introguide.setOptions({
                             steps: [
                               {
                                     element: '#recording-title',
                                     intro: 'Imagine you are finding a particular kind of movies through an intelligent assistant, such as Siri or Amazon Echo.',
                                     position: 'bottom'
                               },
                               {
                                     element: '#keyWord',
                                     intro: 'We have provided you with the film keywords and your quries should contain this information.',
                                     position: 'bottom'
                               },
                               {
                                     element: '#keyWordTable',
                                     intro: 'For example, you should ask for comedies in this scenario.',
                                     position: 'bottom'
                               },
                               {
                                     element: '#keyWordTable',
                                     intro: 'It\'s okay if your answers do not include the exact word here because speaking naturally is the most important.',
                                     position: 'bottom'
                               },
                               // {
                               //       element: '#yours',
                               //       intro: 'Note that if your answers are too similar, you may not be able to get your payment.',
                               //       position: 'bottom'
                               // },
                               {
                                     element: '#speak',
                                     intro: 'Click this button to record your answers. It is good to imagine you are talking to an intelligent assistant and speak naturally. Click "Done" to close this box.',
                                     position: 'left'
                               },
                               ]
    });
    if ({{htmlint}}==0) introguide.start();
    $('#go-next-btn').attr("href","/game/{{htmlint+1}}");
  });


</script>


<style type="text/css">
.help1 {
    position: relative;
    bottom: 400px;
    left: 640px;
    width: 45%;
    height: 100%;
    z-index:1;
    background-color: #000000;
    opacity: 0.85;
    color: white;
    border-radius:25px;
    padding: 5px 5px;
}

li {
  list-style-type:none;
  text-align:center;
  font-size:30px;
}

</style>
{% endblock %}

</html>
